<form class="form-inline method="get" action='/search_link' role="search">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Link to:</div>
      <input type="text" class="form-control" name="query" placeholder="Search">
      <input id='record_type' name='record_type' type="hidden" value='<%= @record_type %>' />
      <input id='record_id' name='record_id' type="hidden" value='<%= @record_id %>' />
    </div>
  </div>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</form>
