<form class="form-inline method="get" action='/search_link' role="search">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Link this to:</div>
      <input type="text" class="form-control" name="query" placeholder="Search">
    </div>
  </div>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</form>
