<br/><br/><br/>
<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h1>Welcome to JCRM</h1>
    <p>The world's fastest, simplest CRM.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Account ...</a></p>
  </div>
</div>
