<br/><br/><br/>
<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron text-center">
    <span class="h1">J</span>
    <span class="h3"><span class="glyphicon glyphicon-th"></span></span>
    <span class="h1">CRM</strong></span>
    <hr/>
    <p>The world's fastest, simplest CRM.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Account ...</a></p>
  </div>
</div>
