<br/><br/><br/>
<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron text-center">
    <span class="h1">JCRM</span>
    <hr/>
    <p>The world's simplest CRM</p>
    <br/>
    <p>
      <%= link_to "Create Account ...", new_user_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
