<div class="col-md-8">
  <%= render "shared/errors", record: @contact %>
  <%= render "contacts/form", record_heading: "Contact: #{@contact.search_display_name}" %>
</div>

<div class="col-md-4">
  <%= render "shared/link_records" %>
</div>
