<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Create New Opportunity</h3>
    </div>
    <div class="panel-body">
      Opportunity gets created here!
    </div>
  </div>
</div>
