<div class="col-md-8">
  <%= render "shared/errors", record: @opportunity %>
  <%= render "opportunities/form", record_heading: "Create New Opportunity" %>
</div>

<div class="col-md-4">
  <%= render "shared/link_records" %>
</div>
