<div class="col-md-8">
  <%= render "shared/errors", record: @account %>
  <%= render "accounts/form", record_heading: "Account: #{@account.name}" %>
</div>

<div class="col-md-4">
  <%= render "shared/link_records" %>
</div>

<div class="col-md-8">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Contacts</a></li>
    <li role="presentation"><a href="#">Opportunities</a></li>
    <li role="presentation"><a href="#">Users</a></li>
    <li role="presentation"><a href="#">Notes</a></li>
  </ul>
  <br/>
  <% @contacts.each do |contact| %>
    <%= render "contacts/short_form", contact: contact %>
  <% end %>
</div>
